<% provide(:title, "Forgot Password") %>
<h1>Forgot Password</h1>

<%= form_for(:password_reset, url: password_reset_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Submit" %>
<% end %>
